{{#section 'head'}}
	<meta name="robuts" content="noidex">
{{/section}}

<h1>Test Page</h1>
<p>jQuery</p>

{{#section 'jquery'}}
	<script>
		$('document').ready(function(){
			$('h1').html('jquery works')
		})
	</script>
{{/section}}

<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>me web</title>
	{{{_section.head}}}
</head>
<body>
	{{{body}}}
	<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
	{{{_section.jquery}}}
</body>
</html>